# Python
__pycache__
**/__pycache__/
**/**/__pycache__
*.py[cod]
*$py.class
*.sqlite3

# Virtual env
venv/
env/
.venv

# Django
staticfiles/
media/

# VSCode / PyCharm
.idea/
**/.idea/
.vscode/

# OS files
.DS_Store
/.env
#/user/migrations/

# Frontend
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
