/* ===== Общие стили для всех отчётов ===== */

.container {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

h1, h2, h3, p {
    font-weight: 300;
    margin-bottom: 1rem;
}

.button {
    font-weight: 400;
}

.box {
    background: var(--card-bg);
    /*border: 1px solid var(--card-border);*/
}

.table.is-striped tbody tr:nth-child(odd) {
    background: var(--table-hover);
}
