{% extends 'base.html' %}
{% block title %}
About
{% endblock %}
{% block body %}
    <div class="header">
        <div class="container">
            <div class="header-row">
{#                <img src="photo.jpg" srcset="photo@2x.jpg 2x" alt="Photo" class="header-img">#}
                <div class="header-desc">
                    <h1 class="header-title">Зверев Павел</h1>
                    <p class="header-text">фриланс, веб-разработка,<br> компонентный ремонт ноутбуков</p>
                    <div class="header-btns">
                        <a href="#" class="btn-line">Портфолио</a>
                        <a href="#" class="btn-outline">Контакты</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="footer">

    </div>
{% endblock %}