{% extends "base.html" %}

{% block content %}
<div class="columns is-centered">
  <div class="column is-4">
    <form method="post" class="box">
      {% csrf_token %}
      <h3 class="title has-text-centered">Доступ к Dashboard</h3>
      
      <div class="field">
        <label class="label">Логин</label>
        <div class="control">
          <input class="input" type="text" name="username" required>
        </div>
      </div>

      <div class="field">
        <label class="label">Пароль</label>
        <div class="control">
          <input class="input" type="password" name="password" required>
        </div>
      </div>

      <button type="submit" class="button is-primary is-fullwidth">Войти</button>
    </form>
  </div>
</div>
{% endblock %}