<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        Home
    </title>
    {% include 'components/head.html' %}
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body class="body">
<div class="menu"><span></span></div>
<nav id="nav">
    <ul class="nav-list">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Shop</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>
<script>
    {#let body = document.querySelector('.body')#}
    let menu = document.querySelector('.menu');
    let navbar = document.querySelector('#nav');
    menu.onclick = () => {
        menu.classList.toggle('clicked');
        navbar.classList.toggle('show');
    }
</script>
</body>
</html>