{% load static %}
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {#favicon.ico#}
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    {#reset style css#}
{#    <link rel="stylesheet" href="{% static 'css/reset2.css' %}">#}
    {#bootstrap min css style#}
{#    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">#}
    {#custom style css#}
    <link rel="stylesheet" href="{% static 'bulma/bulma.nodark.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {#fontawesome link#}
{#    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">#}
    {#font link#}
</head>